.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  transform: translateX(-40%);
  margin-left: 50%;
}

.column {
  width: 25%;
  margin: 10px;
  /* flex: 25%;
  max-width: 25%;
  padding: 0 4px; */
}

/* .column img {
  margin-top: 8px;
  vertical-align: middle;
} */